.kontaktLink {
    background-color: #0077B5;
    border-radius: 5px;
}

.navbar-nav a {
    font-size: 17px;
    color: black;
}

.kontaktLink a {
    color: white;
}

.gruppeNavbar {
    font-weight: 600;
}

.kontaktLink a:hover {
    color: rgb(231, 231, 231);
}

.tech img {
    height: 25px;
    margin: 5px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

.tech i {
    font-size: 25px;
    margin: 5px;

}

.card {
    max-width: 1040px;
}

.linkedInBtn {
    color: #0077B5;
    font-size: 30px;
}

.linkedInBtn:hover {
    color: #00507a;
    font-size: 30px;
}

@media (max-width: 767.98px) { 
    .img-fluid {
        width: 70%;
        max-width: 400px!important;
    }

    .profileImg {
        text-align: center;
    }
 }
