.card {
    max-width: 1040px;
}

.linkedInBtn {
    color: #0077B5;
    font-size: 30px;
}

.linkedInBtn:hover {
    color: #00507a;
    font-size: 30px;
}

@media (max-width: 767.98px) { 
    .img-fluid {
        width: 70%;
        max-width: 400px!important;
    }

    .profileImg {
        text-align: center;
    }
 }
